@import './variables.scss';

*{
    margin: 0px;
    padding: 0px;
    font-family: "Pretendard-Light";
}

body {
    background-color: white;
}
a {
    text-decoration: none;
    color: black;
}
.text-left{
    width: 100%;
    text-align: left;
}
.m-1{
    margin: 0.1rem;
}
.m-3{
    margin: 0.3rem;
}
.bold {
    font-family: "Pritandard-Bold";
}
.openModal {
    overflow: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
    box-shadow: $shadow-1;
}