@import './variables.scss';

*{
    margin: 0px;
    padding: 0px;
    font-family: "Pretendard-Light";
}

body {
    background-color: $primary;
}
.text-left{
    width: 100%;
    text-align: left;
}
.m-1{
    margin: 0.1rem;
}